@use '../../styles/colors' as color;

$font-size: 19px;
$line-height: 24px;
$lines: 2;

.button {
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  transition: color 0.3s;
  background-color: color.$blue;
  color: color.$white;
  font-family: 'Open Sans', sans-serif;
  font-size: $font-size;
  font-weight: 600;
  line-height: $line-height;
  letter-spacing: -0.5px;
  text-align: center;
  border-radius: 70px;
  border: 1px solid color.$blue;
  height: 70px;
  cursor: pointer;

  .text {
    display: block;
    overflow: hidden;
    white-space: nowrap;
  }

  &-icon {
    display: flex;
    align-items: center;
    text-align: left;

    svg {
      margin-right: 8px;
    }
    .text {
      white-space: unset;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  &:disabled {
    pointer-events: none;
    cursor: none;
    background-color: color.$grey;
    border: 1px solid color.$grey;
  }
}
